{{#if mostrarCarrito}} 
<div class="jumbotron" class="rounded mx-auto d-block">
<h1 style="text-align:left">Carrito</h1>
{{#if prods_carrito}} 
<div class="card-group">
    {{#each prods_carrito}}
            <div class="card">    
                <img style="width:50%" src={{this.foto}} class="rounded mx-auto d-block" alt="not found">
                    <div class="card-body">
                        <h3 class="card-title">{{this.nombre}}</h3> 
                        <p class="price">${{this.precio}}</p>
                        <p class="card-text">id de Producto: {{this.id}}</p>
                        <p><button onclick="eliminarProdCarrito({{this.id}})">Eliminar del Carrito</button></p>
                    </div>
            </div>
    {{/each}}
</div>
{{else}}  
    <h3 class="alert alert-danger">No se encontraron productos en el Carrito</h3>
{{/if}}
        <button type="button" class="btn btn-link mt-3 mb-5 float-right" onclick="cargaCarrito(false)">Cerrar Carrito</button>
{{/if}}
</div>
