<div class="container">
    <h1>Información</h1>
    <form>
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Argumentos de entrada</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{argumentos}}</label>
        </div>
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Nombre de la plataforma (Sistema Operativco)</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{plataforma}}</label>
        </div>
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Versión de node.js</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{version}}</label>
        </div>
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Memoria total reservada (rss)</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{memoria}}</label>
        </div>
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Path de ejecución</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{pathEjecucion}}</label>
        </div>
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Process id</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{pid}}</label>
        </div>
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Carpeta del proyecto</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{carpeta}}</label>
        </div>
         <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Total procedadores</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{totalProcesadores}}</label>
        </div>
    </form>
</div>